/* WallOfHonor.css */
.honor-wrapper{
  padding: 2rem 1rem;
  background: #fff;
}
.text-card {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  /* max-width: 900px; */
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

/* headings */
h1, h2 {
  color: black;
}

/* Paragraph description */
.description {
  font-size: 16px;
  line-height: 1.6;
  color: black;
  text-align: center;
}

/* Override Bootstrap button slightly */
button.btn-dark {
  border-radius: 30px;
  font-size: 16px;
  padding: 12px;
  transition: background-color 0.3s ease;
}

button.btn-dark:hover {
  background-color: #333;
}

/* Card padding on smaller screens */
@media (max-width: 576px) {
  .card {
    padding: 1rem !important;
  }

  h1, h2 {
    font-size: 1.5rem;
  }
}
